.header__SubHeading-title {
    font-family: var(--font-base);
    font-weight: 1000;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 45px;
    color: var(--color-red);
    /* text-decoration: underline 2px;
    text-underline-offset: 5px; */
}
@media screen and (max-width: 650px){
    .header__SubHeading-title {
        font-size: 25px;
    }
}